
<app-topo> </app-topo>

<div *ngIf="jogoEmAndamento; else fimDeJogo">

  <!--

    Se o EventEmitter encerrarJogo emitir um evento,
    o evento será enviado para a função encerrarJogo

    Obs: No caso, o evento é apenas uma string

    -->
  <app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>

</div>


<ng-template #fimDeJogo>

  <div class="container">

    <div class="painel-derrota row align-items-center justify-content-center">

      <div class="col-9 jumbotron pt-3 pb-3">

        <h3 class="text-center">Fim de Jogo</h3>

          <div class="col d-flex justify-content-center">

            <img class="duo-defeat" src="assets/duolingo_defeat.png">

          </div>

      </div>

    </div>

  </div>


</ng-template>














<!-- Seletor -->

  <!-- Tag -->

  <!-- <app-topo> </app-topo> -->

  <!-- ou -->

  <!-- Atributo -->

  <!-- <div app-topo> </div> -->

  <!-- ou -->

  <!-- Classe -->

  <!-- <div class="app-topo"></div> -->



