.container{
  min-width: 224px;
}

.painel-derrota{
  height: 88vh;
}

.jumbotron{
  border-radius: 40px;
}
.duo-defeat{
  width: 100px;
}

h3 {
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px red;
}

