.jumbotron{

  border-radius: 40px;

}

.container{
  min-width: 224px;
}

.duo-translate{
  width: 100px;
}

.form-control{
  border-radius: 15px;
}

.painel{
  height: 88vh;
}

p{
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px black ;
}




